---

- block:
    - when: odoo_enabled | bool
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/validate_config.yml"
  tags:
    - setup-all
    - setup-odoo
    - install-all
    - install-odoo
    - upgrade-odoo

- block:
    - when: odoo_enabled | bool
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/install.yml"
  tags:
    - setup-all
    - setup-odoo
    - install-all
    - install-odoo
    - upgrade-odoo

- block:
    - when: not odoo_enabled | bool
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/uninstall.yml"
  tags:
    - setup-all
    - setup-odoo

# Reload systemd after service file installation so upgrade starts the new version
- block:
    - name: Ensure systemd daemon is reloaded after odoo service installation
      ansible.builtin.systemd:
        daemon_reload: true
      become: true
  tags:
    - setup-all
    - setup-odoo
    - install-all
    - install-odoo
    - upgrade-odoo

# New block for upgrading modules
- block:
    - when: odoo_enabled | bool
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/upgrade_modules.yml"
  tags:
    - upgrade-odoo
    - upgrade-modules
